.post-items {
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(245, 245, 245, 0.3);
  &:last-of-type{
    margin-bottom: 0;
  }

  .title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
    word-break: break-all;
    word-wrap: break-word;
  }

  .subtags {
    span {
      padding-right: 15px;
    }
  }

  .content {
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
  }
}


.post {

  &-header {
    color: #707070;
    > h1 {
      margin: 15px 0;
      font-size: 24px;
      font-weight: 600;
      color: #333;
    }

    span {
      padding-right: 15px;
    }
  }

  &-main {
    font-size: 16px;
    word-break: break-all;
    word-wrap: break-word;

    p {
      margin-bottom: 20px;
      line-height: 1.8;
    }
  }

  &-about {
    margin: 20px 0;
    height: 100px;
    line-height: 100px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #707070;
  }
}


.footer-pager {
  text-align: right;
  height: 75px;
  position: relative;
  .summary {
    position: absolute;
    top: 20px;
    left: 15px;
  }
}

.panel-heading {
  height: 34px;
  padding: 7px 15px;
}
.tags-cloud {
  .label {
    display: inline-block;
    margin: 0 5px 10px 0;
  }
}

.post-comment-item {
  margin-bottom: 10px;
  padding: 15px 15px 0;
  background-color: rgba(245, 245, 245, 0.6);
  &:last-of-type {
    margin-bottom: 0;
  }
  h6 {
    height: 32px;
    margin-top: 0;
    line-height: 1.4;
    overflow: hidden;
  }
  p {
    margin: 0;
  }
}