@font-face {
  font-family: 'ios';
  src:
    url('fonts/ios.ttf?nyvbgl') format('truetype'),
    url('fonts/ios.woff?nyvbgl') format('woff'),
    url('fonts/ios.svg?nyvbgl#ios') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ios' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-add-circle-outline:before {
  content: "\e900";
}
.i-add-circle:before {
  content: "\e901";
}
.i-add:before {
  content: "\e902";
}
.i-airplane:before {
  content: "\e903";
}
.i-alarm:before {
  content: "\e904";
}
.i-albums:before {
  content: "\e905";
}
.i-alert:before {
  content: "\e906";
}
.i-american-football:before {
  content: "\e907";
}
.i-analytics:before {
  content: "\e908";
}
.i-aperture:before {
  content: "\e909";
}
.i-apps:before {
  content: "\e90a";
}
.i-appstore:before {
  content: "\e90b";
}
.i-archive:before {
  content: "\e90c";
}
.i-arrow-back:before {
  content: "\e90d";
}
.i-arrow-down:before {
  content: "\e90e";
}
.i-arrow-dropdown-circle:before {
  content: "\e90f";
}
.i-arrow-dropdown:before {
  content: "\e910";
}
.i-arrow-dropleft-circle:before {
  content: "\e911";
}
.i-arrow-dropleft:before {
  content: "\e912";
}
.i-arrow-dropright-circle:before {
  content: "\e913";
}
.i-arrow-dropright:before {
  content: "\e914";
}
.i-arrow-dropup-circle:before {
  content: "\e915";
}
.i-arrow-dropup:before {
  content: "\e916";
}
.i-arrow-forward:before {
  content: "\e917";
}
.i-arrow-round-back:before {
  content: "\e918";
}
.i-arrow-round-down:before {
  content: "\e919";
}
.i-arrow-round-forward:before {
  content: "\e91a";
}
.i-arrow-round-up:before {
  content: "\e91b";
}
.i-arrow-up:before {
  content: "\e91c";
}
.i-at:before {
  content: "\e91d";
}
.i-attach:before {
  content: "\e91e";
}
.i-backspace:before {
  content: "\e91f";
}
.i-barcode:before {
  content: "\e920";
}
.i-baseball:before {
  content: "\e921";
}
.i-basket:before {
  content: "\e922";
}
.i-basketball:before {
  content: "\e923";
}
.i-battery-charging:before {
  content: "\e924";
}
.i-battery-dead:before {
  content: "\e925";
}
.i-battery-full:before {
  content: "\e926";
}
.i-beaker:before {
  content: "\e927";
}
.i-bed:before {
  content: "\e928";
}
.i-beer:before {
  content: "\e929";
}
.i-bicycle:before {
  content: "\e92a";
}
.i-bluetooth:before {
  content: "\e92b";
}
.i-boat:before {
  content: "\e92c";
}
.i-body:before {
  content: "\e92d";
}
.i-bonfire:before {
  content: "\e92e";
}
.i-book:before {
  content: "\e92f";
}
.i-bookmark:before {
  content: "\e930";
}
.i-bookmarks:before {
  content: "\e931";
}
.i-bowtie:before {
  content: "\e932";
}
.i-briefcase:before {
  content: "\e933";
}
.i-browsers:before {
  content: "\e934";
}
.i-brush:before {
  content: "\e935";
}
.i-bug:before {
  content: "\e936";
}
.i-build:before {
  content: "\e937";
}
.i-bulb:before {
  content: "\e938";
}
.i-bus:before {
  content: "\e939";
}
.i-business:before {
  content: "\e93a";
}
.i-cafe:before {
  content: "\e93b";
}
.i-calculator:before {
  content: "\e93c";
}
.i-calendar:before {
  content: "\e93d";
}
.i-call:before {
  content: "\e93e";
}
.i-camera:before {
  content: "\e93f";
}
.i-car:before {
  content: "\e940";
}
.i-card:before {
  content: "\e941";
}
.i-cart:before {
  content: "\e942";
}
.i-cash:before {
  content: "\e943";
}
.i-cellular:before {
  content: "\e944";
}
.i-chatboxes:before {
  content: "\e945";
}
.i-chatbubbles:before {
  content: "\e946";
}
.i-checkbox-outline:before {
  content: "\e947";
}
.i-checkbox:before {
  content: "\e948";
}
.i-checkmark-circle-outline:before {
  content: "\e949";
}
.i-checkmark-circle:before {
  content: "\e94a";
}
.i-checkmark:before {
  content: "\e94b";
}
.i-clipboard:before {
  content: "\e94c";
}
.i-clock:before {
  content: "\e94d";
}
.i-close-circle-outline:before {
  content: "\e94e";
}
.i-close-circle:before {
  content: "\e94f";
}
.i-close:before {
  content: "\e950";
}
.i-cloud-circle:before {
  content: "\e951";
}
.i-cloud-done:before {
  content: "\e952";
}
.i-cloud-download:before {
  content: "\e953";
}
.i-cloud-outline:before {
  content: "\e954";
}
.i-cloud-upload:before {
  content: "\e955";
}
.i-cloud:before {
  content: "\e956";
}
.i-cloudy-night:before {
  content: "\e957";
}
.i-cloudy:before {
  content: "\e958";
}
.i-code-download:before {
  content: "\e959";
}
.i-code-working:before {
  content: "\e95a";
}
.i-code:before {
  content: "\e95b";
}
.i-cog:before {
  content: "\e95c";
}
.i-color-fill:before {
  content: "\e95d";
}
.i-color-filter:before {
  content: "\e95e";
}
.i-color-palette:before {
  content: "\e95f";
}
.i-color-wand:before {
  content: "\e960";
}
.i-compass:before {
  content: "\e961";
}
.i-construct:before {
  content: "\e962";
}
.i-contact:before {
  content: "\e963";
}
.i-contacts:before {
  content: "\e964";
}
.i-contract:before {
  content: "\e965";
}
.i-contrast:before {
  content: "\e966";
}
.i-copy:before {
  content: "\e967";
}
.i-create:before {
  content: "\e968";
}
.i-crop:before {
  content: "\e969";
}
.i-cube:before {
  content: "\e96a";
}
.i-cut:before {
  content: "\e96b";
}
.i-desktop:before {
  content: "\e96c";
}
.i-disc:before {
  content: "\e96d";
}
.i-document:before {
  content: "\e96e";
}
.i-done-all:before {
  content: "\e96f";
}
.i-download:before {
  content: "\e970";
}
.i-easel:before {
  content: "\e971";
}
.i-egg:before {
  content: "\e972";
}
.i-exit:before {
  content: "\e973";
}
.i-expand:before {
  content: "\e974";
}
.i-eye-off:before {
  content: "\e975";
}
.i-eye:before {
  content: "\e976";
}
.i-fastforward:before {
  content: "\e977";
}
.i-female:before {
  content: "\e978";
}
.i-filing:before {
  content: "\e979";
}
.i-film:before {
  content: "\e97a";
}
.i-finger-print:before {
  content: "\e97b";
}
.i-fitness:before {
  content: "\e97c";
}
.i-flag:before {
  content: "\e97d";
}
.i-flame:before {
  content: "\e97e";
}
.i-flash-off:before {
  content: "\e97f";
}
.i-flash:before {
  content: "\e980";
}
.i-flashlight:before {
  content: "\e981";
}
.i-flask:before {
  content: "\e982";
}
.i-flower:before {
  content: "\e983";
}
.i-folder-open:before {
  content: "\e984";
}
.i-folder:before {
  content: "\e985";
}
.i-football:before {
  content: "\e986";
}
.i-funnel:before {
  content: "\e987";
}
.i-gift:before {
  content: "\e988";
}
.i-git-branch:before {
  content: "\e989";
}
.i-git-commit:before {
  content: "\e98a";
}
.i-git-compare:before {
  content: "\e98b";
}
.i-git-merge:before {
  content: "\e98c";
}
.i-git-network:before {
  content: "\e98d";
}
.i-git-pull-request:before {
  content: "\e98e";
}
.i-glasses:before {
  content: "\e98f";
}
.i-globe:before {
  content: "\e990";
}
.i-grid:before {
  content: "\e991";
}
.i-hammer:before {
  content: "\e992";
}
.i-hand:before {
  content: "\e993";
}
.i-happy:before {
  content: "\e994";
}
.i-headset:before {
  content: "\e995";
}
.i-heart-dislike:before {
  content: "\e996";
}
.i-heart-empty:before {
  content: "\e997";
}
.i-heart-half:before {
  content: "\e998";
}
.i-heart:before {
  content: "\e999";
}
.i-help-buoy:before {
  content: "\e99a";
}
.i-help-circle-outline:before {
  content: "\e99b";
}
.i-help-circle:before {
  content: "\e99c";
}
.i-help:before {
  content: "\e99d";
}
.i-home:before {
  content: "\e99e";
}
.i-hourglass:before {
  content: "\e99f";
}
.i-ice-cream:before {
  content: "\e9a0";
}
.i-image:before {
  content: "\e9a1";
}
.i-images:before {
  content: "\e9a2";
}
.i-infinite:before {
  content: "\e9a3";
}
.i-information-circle-outline:before {
  content: "\e9a4";
}
.i-information-circle:before {
  content: "\e9a5";
}
.i-information:before {
  content: "\e9a6";
}
.i-jet:before {
  content: "\e9a7";
}
.i-journal:before {
  content: "\e9a8";
}
.i-key:before {
  content: "\e9a9";
}
.i-keypad:before {
  content: "\e9aa";
}
.i-laptop:before {
  content: "\e9ab";
}
.i-leaf:before {
  content: "\e9ac";
}
.i-link:before {
  content: "\e9ad";
}
.i-list-box:before {
  content: "\e9ae";
}
.i-list:before {
  content: "\e9af";
}
.i-locate:before {
  content: "\e9b0";
}
.i-lock:before {
  content: "\e9b1";
}
.i-log-in:before {
  content: "\e9b2";
}
.i-log-out:before {
  content: "\e9b3";
}
.i-magnet:before {
  content: "\e9b4";
}
.i-mail-open:before {
  content: "\e9b5";
}
.i-mail-unread:before {
  content: "\e9b6";
}
.i-mail:before {
  content: "\e9b7";
}
.i-male:before {
  content: "\e9b8";
}
.i-man:before {
  content: "\e9b9";
}
.i-map:before {
  content: "\e9ba";
}
.i-medal:before {
  content: "\e9bb";
}
.i-medical:before {
  content: "\e9bc";
}
.i-medkit:before {
  content: "\e9bd";
}
.i-megaphone:before {
  content: "\e9be";
}
.i-menu:before {
  content: "\e9bf";
}
.i-mic-off:before {
  content: "\e9c0";
}
.i-mic:before {
  content: "\e9c1";
}
.i-microphone:before {
  content: "\e9c2";
}
.i-moon:before {
  content: "\e9c3";
}
.i-more:before {
  content: "\e9c4";
}
.i-move:before {
  content: "\e9c5";
}
.i-musical-note:before {
  content: "\e9c6";
}
.i-musical-notes:before {
  content: "\e9c7";
}
.i-navigate:before {
  content: "\e9c8";
}
.i-notifications-off:before {
  content: "\e9c9";
}
.i-notifications-outline:before {
  content: "\e9ca";
}
.i-notifications:before {
  content: "\e9cb";
}
.i-nuclear:before {
  content: "\e9cc";
}
.i-nutrition:before {
  content: "\e9cd";
}
.i-open:before {
  content: "\e9ce";
}
.i-options:before {
  content: "\e9cf";
}
.i-outlet:before {
  content: "\e9d0";
}
.i-paper-plane:before {
  content: "\e9d1";
}
.i-paper:before {
  content: "\e9d2";
}
.i-partly-sunny:before {
  content: "\e9d3";
}
.i-pause:before {
  content: "\e9d4";
}
.i-paw:before {
  content: "\e9d5";
}
.i-people:before {
  content: "\e9d6";
}
.i-person-add:before {
  content: "\e9d7";
}
.i-person:before {
  content: "\e9d8";
}
.i-phone-landscape:before {
  content: "\e9d9";
}
.i-phone-portrait:before {
  content: "\e9da";
}
.i-photos:before {
  content: "\e9db";
}
.i-pie:before {
  content: "\e9dc";
}
.i-pin:before {
  content: "\e9dd";
}
.i-pint:before {
  content: "\e9de";
}
.i-pizza:before {
  content: "\e9df";
}
.i-planet:before {
  content: "\e9e0";
}
.i-play-circle:before {
  content: "\e9e1";
}
.i-play:before {
  content: "\e9e2";
}
.i-podium:before {
  content: "\e9e3";
}
.i-power:before {
  content: "\e9e4";
}
.i-pricetag:before {
  content: "\e9e5";
}
.i-pricetags:before {
  content: "\e9e6";
}
.i-print:before {
  content: "\e9e7";
}
.i-pulse:before {
  content: "\e9e8";
}
.i-qr-scanner:before {
  content: "\e9e9";
}
.i-quote:before {
  content: "\e9ea";
}
.i-radio-button-off:before {
  content: "\e9eb";
}
.i-radio-button-on:before {
  content: "\e9ec";
}
.i-radio:before {
  content: "\e9ed";
}
.i-rainy:before {
  content: "\e9ee";
}
.i-recording:before {
  content: "\e9ef";
}
.i-redo:before {
  content: "\e9f0";
}
.i-refresh-circle:before {
  content: "\e9f1";
}
.i-refresh:before {
  content: "\e9f2";
}
.i-remove-circle-outline:before {
  content: "\e9f3";
}
.i-remove-circle:before {
  content: "\e9f4";
}
.i-remove:before {
  content: "\e9f5";
}
.i-reorder:before {
  content: "\e9f6";
}
.i-repeat:before {
  content: "\e9f7";
}
.i-resize:before {
  content: "\e9f8";
}
.i-restaurant:before {
  content: "\e9f9";
}
.i-return-left:before {
  content: "\e9fa";
}
.i-return-right:before {
  content: "\e9fb";
}
.i-reverse-camera:before {
  content: "\e9fc";
}
.i-rewind:before {
  content: "\e9fd";
}
.i-ribbon:before {
  content: "\e9fe";
}
.i-rocket:before {
  content: "\e9ff";
}
.i-rose:before {
  content: "\ea00";
}
.i-sad:before {
  content: "\ea01";
}
.i-save:before {
  content: "\ea02";
}
.i-school:before {
  content: "\ea03";
}
.i-search:before {
  content: "\ea04";
}
.i-send:before {
  content: "\ea05";
}
.i-settings:before {
  content: "\ea06";
}
.i-share-alt:before {
  content: "\ea07";
}
.i-share:before {
  content: "\ea08";
}
.i-shirt:before {
  content: "\ea09";
}
.i-shuffle:before {
  content: "\ea0a";
}
.i-skip-backward:before {
  content: "\ea0b";
}
.i-skip-forward:before {
  content: "\ea0c";
}
.i-snow:before {
  content: "\ea0d";
}
.i-speedometer:before {
  content: "\ea0e";
}
.i-square-outline:before {
  content: "\ea0f";
}
.i-square:before {
  content: "\ea10";
}
.i-star-half:before {
  content: "\ea11";
}
.i-star-outline:before {
  content: "\ea12";
}
.i-star:before {
  content: "\ea13";
}
.i-stats:before {
  content: "\ea14";
}
.i-stopwatch:before {
  content: "\ea15";
}
.i-subway:before {
  content: "\ea16";
}
.i-sunny:before {
  content: "\ea17";
}
.i-swap:before {
  content: "\ea18";
}
.i-switch:before {
  content: "\ea19";
}
.i-sync:before {
  content: "\ea1a";
}
.i-tablet-landscape:before {
  content: "\ea1b";
}
.i-tablet-portrait:before {
  content: "\ea1c";
}
.i-tennisball:before {
  content: "\ea1d";
}
.i-text:before {
  content: "\ea1e";
}
.i-thermometer:before {
  content: "\ea1f";
}
.i-thumbs-down:before {
  content: "\ea20";
}
.i-thumbs-up:before {
  content: "\ea21";
}
.i-thunderstorm:before {
  content: "\ea22";
}
.i-time:before {
  content: "\ea23";
}
.i-timer:before {
  content: "\ea24";
}
.i-today:before {
  content: "\ea25";
}
.i-train:before {
  content: "\ea26";
}
.i-transgender:before {
  content: "\ea27";
}
.i-trash:before {
  content: "\ea28";
}
.i-trending-down:before {
  content: "\ea29";
}
.i-trending-up:before {
  content: "\ea2a";
}
.i-trophy:before {
  content: "\ea2b";
}
.i-tv:before {
  content: "\ea2c";
}
.i-umbrella:before {
  content: "\ea2d";
}
.i-undo:before {
  content: "\ea2e";
}
.i-unlock:before {
  content: "\ea2f";
}
.i-videocam:before {
  content: "\ea30";
}
.i-volume-high:before {
  content: "\ea31";
}
.i-volume-low:before {
  content: "\ea32";
}
.i-volume-mute:before {
  content: "\ea33";
}
.i-volume-off:before {
  content: "\ea34";
}
.i-walk:before {
  content: "\ea35";
}
.i-wallet:before {
  content: "\ea36";
}
.i-warning:before {
  content: "\ea37";
}
.i-watch:before {
  content: "\ea38";
}
.i-water:before {
  content: "\ea39";
}
.i-wifi:before {
  content: "\ea3a";
}
.i-wine:before {
  content: "\ea3b";
}
.i-woman:before {
  content: "\ea3c";
}
